# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SOFLE_DONGLE

# Max 16 characters in keyboard name.
config ZMK_KEYBOARD_NAME
    default "Sofle RGB Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# Left and right halves are both BLE peripherals in dongle mode.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Two split peripherals plus the five normal host profiles.
config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

if ZMK_RGB_UNDERGLOW

config WS2812_STRIP
    default y

endif # ZMK_RGB_UNDERGLOW

endif # SHIELD_SOFLE_DONGLE
